<div class="flex sm:flex-col md:flex-row justify-between sm:grid-cols-1 mx-auto w-full gap-6 mt-10 z-50 relative">
  <a
    *ngFor="let card of cards"
    [ngSwitch]="card.red"
    href="#"
    class="flex flex-col items-center w-80 pb-4 bg-slate-100 dark:bg-darkCard rounded-lg border-t-4 shadow hover:scale-105 hover:bg-gray-300 hover:dark:bg-hoverCard"
  >
    <div
      class="border-t-4 w-full border-facebook pt-6 -mt-1 rounded-md"
      *ngSwitchCase="'facebook'"
    ></div>
    <div
      class="border-t-4 w-full border-twitter pt-6 -mt-1 rounded-md"
      *ngSwitchCase="'twitter'"
    ></div>
    <div
      class="w-full pt-6 rounded-lg -mt-1 border-t-4 border-instagramFrom"
      *ngSwitchCase="'instagram'"
    ></div>
    <div
      class="border-t-4 w-full border-youtube pt-6 -mt-1 rounded-md"
      *ngSwitchCase="'youtube'"
    ></div>
    <div class="flex gap-2 mb-4">
      <img [src]="card.icon" alt="icon-red-social" />
      <p class="text-sm dark:text-textDark">{{ card.user }}</p>
    </div>
    <h5 class="text-7xl font-bold tracking-tight dark:text-textWhite">{{ card.followers }}</h5>
    <p class="font-normal text-sm text-gray-500 dark:text-textDark tracking-widest mb-4">
      FOLLOWERS
    </p>
    <div class="flex items-center gap-1">
      <img [src]="card.arrow" class="h-1" alt="icon-arrow" />
      <span
        class="font-bold text-xs flex"
        [ngStyle]="{
          color:
            card.red === 'youtube' ? 'hsl(348, 97%, 39%)' : 'hsl(163, 72%, 41%)'
        }"
      >
        {{ card.today }} Today</span
      >
    </div>
  </a>
</div>
